fastapi
uvicorn
python-multipart
psycopg2-binary
PyMuPDF
faiss-cpu
requests
python-dotenv
pydantic
pydantic-settings
alembic
sqlalchemy
tiktoken
pytesseract
pdf2image
nltk
tenacity
sentence-transformers
torch
httpx
